<<<<<<< HEAD
@media only screen and (max-width: 576px) {
 
    /* common */
    .title-text {
        margin-bottom: 20px;
    }
    .section-description {
        padding: 0 20px;
    }
    /* Navbar */
    nav {
    display: block;
    margin: 0 auto;
    height: auto;
    padding:0px;
    padding-bottom: 20px;
  }
  .nav-logo {
    display: flex;
    justify-content: center;
  }
  .nav-menu-items {
    display: block;
  }
  .nav-menu-items > a {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .follow-us-on {
    margin: 0 auto;
    margin-bottom: 20px;
  }


  /* Banner */
  .banner {
    /* display: block; */
    flex-direction: column-reverse;
  }

  .banner-text{
    margin:0 auto;
    text-align:center;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .buttons {
    margin-top: 40px;
  }
  .banner-text-bG-image {
    padding-top: 50px;
    width: 100%;
    height:auto;
  }
  .banner-image {
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner-image img {
    margin-top: 40px;
    width: 100%;
  }

  /* We are gamer section */
  .we-are-gamer {
    display: block;
  }
  .we-are-gamer-image img {
    width: 100%;
  }

  .we-are-gamer-text {
    width: 100%;
    margin: 0 auto;
    text-align:center;
  }
  .we-are-gamer-text h3 {
    text-align: center;
    margin-top: 0px;
  } 
  .we-are-gamer-text p {
    text-align: center;
  }
  
  /* online game section */
  .online-games {
    display: block;
    text-align: center;
    padding: 0 30px;
  }
  .card {
    height: auto;
  }

  /* play instantly */
  .play-instantly {
    display: block;
    width: 100%;
    text-align: center;
    padding:0px;
    padding-top:50px;
  }
  .play-instantly-text {
    text-align: center;
    margin-top:50px;
  }
  .play-intantly-image {
    margin-top:50px;
    width: 100%;
  }
  .back-image{
      width: 400px;
      margin-left:90px;
  }

.image-two{
    border-radius: 8px;
    width: 200px;
    height: 250px;
    position: relative;
    bottom: 180px;
    margin-left:50px;
}

.upper-image{
    width: 200px;
    height: 250px;
}

.careers{
  flex-direction:column;
    /* display: block; */
    margin: 0 auto;
    height: auto;
    padding-left:0px;
    padding-bottom: 20px;
    padding-top: 50px;

}

.careers-text-section{
  width:100%;
}



.job-position-container{
  margin-bottom: 50px;

}

.job-position{
  flex-direction:row;
  justify-content: space-between;
  height: 40px;
}


.careers-text-section h3{
    padding-left:50px;
    padding-right:50px;
    text-align:left;
}

.careers-text-section p{
    padding-left:50px;
    padding-right:50px;
    text-align:left;
}


.se-a-p{
  padding-left:50px;
  padding-bottom:30px;
}

.see-a-p-btn{
    padding:10px 15px;
}

.image-text-section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-text-section > img{
  margin-left:0px;
  width: 95%;
}

/* games section */


.games{
  flex-direction: row;
  justify-content:center;
  padding:5px;
  
}

.rectangle{
  height: 40px;
  width: 190px;
  background-color: #FFF;
  border-radius: 50px;
  background: #FFF;
  color: #0B0223;
  font-size: 14px;
  font-weight: 600;
  border:none;


}

.rec-img{
  width:30px;
  height:30px;
}


/* footer-sectiom */
.footer-menu-items{
  grid-template-columns:repeat(3, 1fr);
  justify-content:center;
  width:100%;
  gap:10px;
  text-align:center;
  padding:0px 30px;
}

.social-link{
  grid-template-columns:repeat(3, 1fr);
  gap:40px;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding-top:50px;
  width: 80%;
  height: auto;
}


.footer-menu-two {
  grid-template-columns:repeat(2, 1fr);
  justify-content:center;
  align-items:center;
  text-align: center;
  padding-top:50px;
  margin:0 auto;
  width: 90%;
  height: auto;
}


}


/* Tab section */




@media screen and (min-width: 576px) and (max-width:992px){

     /* common */
     .title-text {
        margin-bottom: 20px;
    }
    .section-description {
        padding: 0 20px;
    }

    /* nav section */

    nav {
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        padding:0px;
        padding-bottom: 20px;
      }
      
      .nav-logo {
        margin: 0 auto;
      }
      .nav-menu-items {
        margin: 0 auto;
        /* flex-direction: column; */
      }
      /* banner section */

      .banner {
        flex-direction: column-reverse;
        margin: 0 auto;
      }

      .banner-text-bG-image{
        flex-decoration:column;
        width: 100%;
        height:auto;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .banner-text{
        margin: 0 auto;
        text-align:center;
      }

      /* We are gamer style start */

      .we-are-gamer{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
      }

      .we-are-gamer-text {
        width: 100%;
        margin: 0 auto;
        text-align:center;
      }

      .we-are-gamer-text h3 {
        text-align: center;
        margin-top: 0px;
      } 
      .we-are-gamer-text p {
        text-align: center;
      }
      .we-are-gamer-image img {
        width: 100%;
      }
    
      

      /* Online games */

      .online-games{
        grid-template-columns:repeat(2, 1fr);
        gap:10px;
        padding:0px;
        margin-top: 50px;
      }

      
      .card {
        height: auto;
      }

      /* play instantly */

      .play-instantly {
        flex-direction:column;
        margin-top:50px;
        padding:0px;
      }

      .play-instantly-text {
        text-align: center;
        
      }

      .play-intantly-image {
        width: 100%;
        text-align:center;
        margin-top:50px;
      }


      .back-image{
        width: 550px;
        margin-left:150px;
    }
    .image-two{
    
        border-radius: 8px;
        width: 318px;
        height: 365px;
        position: relative;
        bottom: 260px;
        margin-left:80px;
    }

    .upper-image{
        width: 318px;
        height: 365px;
    }

    .careers{
        flex-direction:column;
    }

    .careers-text-section{
        margin-top:50px;
        margin-bottom:100px;
    }

    .careers-text-section h3{
        padding:20px 100px;
        text-align:left;
    }

    .careers-text-section p{
        padding:20px 100px;
        text-align:left;
    }

    .text-two p{
        text-align:right;

    }

    .se-a-p{
      padding-left:100px;
      padding-bottom:50px;
    }
    .see-a-p-btn{
        text-align:left;
        padding:15px 20px;
    }
    
    .care-img {
      margin-left:0px;
      width: 95%;
      text-align: center;
      padding:20px;
  }

  .games{
    flex-direction: row;
    justify-content:center;
    padding:5px;
}

   
=======
@media only screen and (max-width: 600px) {
    /* common */
    .title-text {
      margin-bottom: 20px;
    }
    .section-description {
      padding: 0 20px;
    }
    /* Navbar */
    nav {
      display: block;
      margin: 0 auto;
      height: auto;
      padding-bottom: 20px;
    }
    .nav-logo {
      display: flex;
      justify-content: center;
    }
    .nav-menu-items {
      display: block;
    }
    .nav-menu-items > a {
      display: block;
      text-align: center;
      margin-bottom: 30px;
      margin-right: 0px;
    }
    .follow-us-on {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    /* Banner */
    .banner {
      display: block;
    }
    .banner-text h1 {
      font-size: 3rem;
    }
    .banner-text h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    .buttons {
      margin-top: 40px;
    }
    .banner-text-bG-image {
      margin-top: 50px;
      width: 100%;
    }
    .banner-image {
      padding-left: 20px;
      padding-right: 20px;
    }
    .banner-image img {
      margin-top: 40px;
      width: 100%;
    }
  
    /* We are gamer section */
    .we-are-gamer {
      display: block;
    }
    .we-are-gamer-image img {
      width: 100%;
    }
  
    .we-are-gamer-text {
      width: 100%;
    }
    .we-are-gamer-text h3 {
      text-align: center;
      margin-top: 0px;
    }
    .we-are-gamer-text p {
      text-align: center;
    }
    .btnknow-container {
      text-align: center;
    }
  
    /* online game section */
    .online-games {
      display: block;
      text-align: center;
      padding: 0 30px;
    }
    .card {
      height: auto;
    }
  
    /* play instantly */
    .play-instantly {
      display: block;
      padding: 20px;
    }
    .play-instantly-text {
      text-align: center;
      margin-top: 50px;
    }
    .play-intantly-image {
      width: 90%;
      
    }
    .back-image-container {
      text-align: right;
    } 
    .back-image {
      width: 300px;
      margin: 0 auto;
    }
    .image-two {
      border-radius: 8px;
      width: 100px;
      height: 140px;
      position: relative;
      /* bottom: 290px; */
      margin-left: 40px;
      bottom: 120px;
    }
    .upper-image {
      width: 148px;
      height: 172px;
    }
    .careers {
      display: block;
    }
    .all-game {
      padding: 0;
    }
  }


@media screen and (min-width: 600px) and (max-width:992px){

     /* common */
     .title-text {
        margin-bottom: 20px;
    }
    .section-description {
        padding: 0 20px;
    }

    /* nav section */

    nav {
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        padding-bottom: 20px;
      }
      
      .nav-logo {
        margin: 0 auto;
      }
      .nav-menu-items {
        margin: 0 auto;
        /* flex-direction: column; */
      }
      /* banner section */

      .banner {
        flex-direction: column-reverse;
        margin: 0 auto;
      }

      .banner-text-bG-image{
        width: 100%;
        margin: 0 auto;
      }

      .banner-text{
        margin: 0 auto;
        text-align:center;
      }

      /* We are gamer style start */

      .we-are-gamer{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
      }

      .we-are-gamer-text {
        width: 100%;
        margin: 0 auto;
        text-align:center;
      }

      .we-are-gamer-text h3 {
        text-align: center;
        margin-top: 0px;
      } 
      .we-are-gamer-text p {
        text-align: center;
      }
      .we-are-gamer-image img {
        width: 100%;
      }
    
      

      /* Online games */

      .online-games{
        grid-template-columns:repeat(2, 1fr);
        gap:10px;
        padding:0px;
        margin-top: 50px;
      }

      
      .card {
        height: auto;
      }

      /* play instantly */

      .play-instantly {
        flex-direction:column;
        margin-top:50px;
      }

      .play-instantly-text {
        text-align: center;
        
      }

      .play-intantly-image {
        width: 100%;
        text-align:center;
        margin-top:50px;
      }


      .back-image{
        width: 550px;
        margin-left:120px;
    }
    .image-two{
    
        border-radius: 8px;
        width: 318px;
        height: 365px;
        position: relative;
        /* bottom: 290px; */
        margin-left:140px;
    }

    .upper-image{
        width: 318px;
        height: 365px;
    }

    .careers{
        flex-direction:column;
    }

    .careers-text-section{
        margin-top:50px;
        margin-bottom:100px;
    }

    .careers-text-section h3{
        padding:20px 100px;
        text-align:left;
    }

    .careers-text-section p{
        padding:20px 100px;
        text-align:left;
    }

    .text-two p{
        text-align:right;

    }
    .see-a-p-btn{
        text-align:left;
    }
>>>>>>> 25a436dff7ee5fcf61703fa50d6a717943bbd226

}